.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.list-unstyled {
    padding-left: 0;
    list-style: none
}

.about-list{ padding-top: 20px;}

.about-list .xb-item--inner::before {
  position: absolute;
  width: 45px;
  height: 105px;
  border-radius: 30px;
  background-color: #ffffff;
  content: "";
  top: -6px;
  left: 0px;
  z-index: -1;
  border-top-right-radius: 0;
  transform: rotate(-45deg);
}

.about-list .xb-item--number.color-2 {
  background-color: #00CC99;
}

.about-list .xb-item--number.color-3 {
  background-color: #0091FF;
}

.about-list .xb-item--number.color-4 {
  background-color: #FFBD0F;
}

